
.article {
    position: relative;
    width: calc(100vw - 100px);
    height: calc(100vh - 40px);
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 70% 30%;
    z-index: 2;
    background-color: #eeeeee;
    padding: 20px 50px;
}

.articleImg {
    width: 100%;
    height: calc(100vh - 100px );
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.articleTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    overflow: hidden;
    padding: 50px 50px 50px 0;
}

.articleTxt h1 {
    margin-bottom: 50px;
    font-size: 100px;
    font-family: 'Ubuntu', sans-serif;
    color: #00adb5;
}

.article p {
    color: #393e46;
    margin: 10px 0; 
}

.article b {
    color: #222831;
}

.bigTitle {
    position: absolute;
    font-size: 20em;
    left: -30px;
    top: -70px;
    z-index: -1;
    color: #00acb52a;
    height: calc(100vh + 70px);
    overflow: hidden;
}